<h1>Login page</h1>
<form action="/login" method="POST">
  <label for="">Tên đăng nhập</label> <br />
  <input name="username" type="text" /><br />
  <br />
  <label for="">Mật khẩu</label><br />
  <input name="password" type="password" /><br />

  <br />
  <p class="error"><%= errorMessage%></p>

  <button>Đăng nhập</button>
</form>
